<!-- start tag start -->
<%- include('../../includes/start.ejs')%>
<!-- start tag end -->

<!-- dashboard page start -->
<div class="container">
    <h1 class="display-1 text-center">my dashboard</h1>
</div>
<!-- dashboard page end -->

<!-- end tag start -->
<%- include('../../includes/end.ejs')%>
<!-- end tag end -->