<!DOCTYPE html>
<html lang="en">

<head>
    <!-- head file start -->
    <%- include('../../includes/header.ejs')%>
    <!-- head file end -->
</head>

<body>
    <!-- navbar start -->
    <%- include('../../includes/navbar.ejs')%>
    <!-- navbar end -->

    <!-- footer start -->
    <!-- <%- include('../../includes/footer.ejs')%> -->
    <!-- footer end -->

    <!-- script start -->
    <%- include('../../includes/script.ejs')%>
    <!-- script end -->
</body>

</html>